body{
    font-family: sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 25px;
    background-color: #dfe6e9;
    max-width: 400px;
    min-width: 400px;
}

.heading{
    text-align: center;
    font-size: 2em;
    color: #2d3436;
    margin: 20px 0 50px;
} 

.card{
    background-color: #81ecec;
    position: relative;
    border-radius: 25px;
    margin: 60px 0;
    height: 200px;
    padding: 25px 15px;
   text-align: left;
   box-shadow: 0 2px 5px #ccc;
}

.top{
    position: absolute;
    background-color: #00cec9;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    border-radius: 25px 25px 0 0;
}

.name{
   font-size: 2em;
   color: #2d3436;
   display: flex;
   flex: 1;
   margin: 10% 20px 0;
}

.circle-img{
    border-radius: 50%;
    border: 7px solid #fff;
    width: 120px;
    height: 120px;
}

.card img{
    margin: 30px 20px 0 0; 
}

.bottom{
    margin-top: 120px;
}

.info{
    margin: 20px 0;
    color: #1a7e76;
}